<h1>Comments</h1>

<ul>

    <% @comments.each do |comment| %>
    <li> id: <%= comment.id %> - Content: <%= comment.content %>  - Author <%= comment.author_name %>  </li>
    <%= button_to 'delete', comment_path(comment), method: :delete %>

    <% end %>
<br>
</ul>